body{
    background-color: rgb(22, 22, 22);
    margin:0;
}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 46, 46, 0.521);
    padding: 20px;
}

navbar ul{
    list-style-type: none;
}

navbar li{
    display: inline;
}

navbar a{
    text-decoration: none;
    color:#ffff;
    margin-left: 50px;
    font-size: 25px;
}


navbar i{
    margin-left: 5px;
    font-size: 20px;
}

navbar a:hover{
    color: rgb(109, 109, 109);
    text-decoration:underline;
}

#search-movie{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#search-movie #search-movies-header{
    color: #fff;
    letter-spacing: 1px;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: typing 3s ease-in-out;
}


.search-container{
    display: flex;
    flex-direction: row;
}

.search-container input{
    padding: 10px;
    border-radius: 40px;
    border: none;   
    font-size: 20px;
    width: 300px;
}

.search-container i{
    align-self: center;
    margin-left: 10px;
    font-size: 25px;
    color:rgb(0, 74, 211);
    cursor: pointer;
}

.search-container i:hover{
    color:rgb(35, 109, 247) ;
}

#search-movie #error-message{
    color:rgb(206, 0, 0);
    font-size: 18px;
    align-self: center;
}

.full-loading{
    display: flex;
    flex-direction: row;
    display: none;
}

.full-loading h3{
    color: #fff;
    font-size: 20px;
}

.full-loading #loading-dots{
    letter-spacing: 2px;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    width: 2ch;
    animation: loadingType 1s linear infinite alternate;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.movies-container{
    width: 60%;
    background-color:rgba(46, 46, 46, 0.521);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.movies-container #movie-name{
    color: #fff;
    font-size:30px
}

.movies-container .image-text-container{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: 100%;
}

.movies-container .image-text-container img{
    width: 230px;
    margin-left: 20px;
}

.movies-container .image-text-container h3{
    color: #fff;
    letter-spacing: 1px;
    margin-left: 50px;
    font-size: 18px;
}

.movies-container .movie-details{
    display: grid;
    grid-template-columns: repeat(3,250px);
    width: 50%;
}

.movies-container .movie-details h3{
    font-size: 16px;
    color: #fff;
}

.movies-container #reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#reviews-header{
    color: #ffff;
    font-size: 30px;
}

#reviews .review-stats{
    display: grid;
    grid-template-columns: repeat(2,400px);
    width: 50%;
    color: #fff;
    font-size: 18px;
}

.fa-solid.fa-users, .fa-solid.fa-user{
    color: rgb(28, 88, 255);
}

#reviews .review-authors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

 .review-item{
    width: 90%;
    display: none;
    flex-direction: column;
    background-color: rgba(61, 61, 61, 0.521);
    margin-top: 20px;
    border-radius: 20px;
}

.review-item .rating-name-cont{
    display: flex;
    flex-direction: row;

}

.review-item h3{
    color: #ffff;
    margin-left: 10px;
    font-size: 20px;
}

.review-item .rating-name-cont .authors-rating{
    margin-left: 70px;
}

.review-item .comment-content{
    color: #ffff;
}

.fa-solid.fa-quote-left , .fa-solid.fa-quote-right{
    color: rgb(23, 104, 255);
}

@keyframes typing{
    from{width: 0ch;}
    to{width: 32.8ch;}
}

@keyframes loadingType{
    from{width: 0ch;}
    to{width: 2ch;}
}